<%= form_with model: [:admin, user], local: true do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control", <%= user.persisted? ? '' : 'required: true' %> %>
  </div>

  <div class="mb-3">
    <%= f.label :role, class: "form-label" %>
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, class: "form-select", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :assigned_counter, class: "form-label" %>
    <%= f.select :assigned_counter, Token::COUNTERS, { include_blank: "Not applicable" }, class: "form-select" %>
  </div>

  <%= f.submit class: "btn btn-success" %>
<% end %>
